
    .blog{
      background-color:rgb(167, 162, 172);
       border: 4px dotted rgba(3, 53, 15, 0.315);
       margin:20px;
       padding: 30px;
    }
     .saint{
       background-color: rgb(122, 38, 90);
       border: 4px solid rgb(26, 167, 185); 
       border-radius: 15px;
       margin:20px;
       padding: 20px 10px;
     }
     .coxs{
        border:4px dashed rgb(8, 14, 1);
        margin: 10px 20px 20px 20px;
        padding:20px;
     }
       .fantasy{
        background-color: rgb(122, 38, 90);
       border-radius: 15px;
       border-style: dotted dashed solid double;
       }

    small{
        color: rgb(29, 151, 29);
    }
    h1{
        color: aqua;
    }
    .heading{
        text-align: center;
    }
    span{
        color:brown;
    }